.card {
  height: 445px;
}

.card__image {
  width: 100%;
  height: 413px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 12px;
  display: block;
}

.card__content {
  display: flex;
  justify-content: space-between;
}

.card__title {
  max-width: 353px;
  color: #212121;
  margin: 0;
  font-family: "Poppins-Medium", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-btn {
  width: 23px;
  height: 20px;
  background-image: url(../images/heart.svg);
  background-color: transparent;
  border: none;
  opacity: 0.4;
}

@media screen and (max-width: 627px) {
  .card {
    height: 318px;
  }

  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 252px;
  }
}
