.card {
  min-height: 445px;
  position: relative;
}

.card__image {
  width: 100%;
  height: 413px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 12px;
  display: block;
}

.card__image {
  cursor: pointer;
}

.card__delete-btn {
  width: 32px;
  height: 32px;
  background-image: url(../images/trashcan.svg);
  background-color: transparent;
  border: none;
  position: absolute;
  right: 10px;
  top: 10px;
}

.card__delete-btn:hover {
  background-image: url(../images/trashcanHover.svg);
}

.card__content {
  display: flex;
  justify-content: space-between;
}

.card__title {
  max-width: 353px;
  color: #212121;
  margin: 0;
  font-family: "Poppins-Medium", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-btn {
  width: 23px;
  height: 20px;
  background-image: url(../images/heart.svg);
  background-color: transparent;
  border: none;
  opacity: 0.4;
}

.card__like-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.card__like-btn_liked {
  background-image: url(../images/Union.svg);
  background-repeat: no-repeat;
  opacity: 1;
}

.card__like-btn_liked:hover {
  opacity: 0.5;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .card {
    min-height: 318px;
  }

  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 235px;
    font-size: 16px;
  }

  .card__like-btn {
    width: 20px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
