.menu {
  max-width: 1440px;
  background-color: #fff;
  opacity: 0.8;
  margin: 0;
  padding: 10px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__image {
  color: #212121;
  opacity: 1;
}
