.profile {
  display: flex;
  padding: 0 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0;
  color: #212121;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0%;
}

.profile__description {
  margin: 12px 0 0;
  color: rgba(33, 33, 33, 0.7);
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0%;
}

.profile__edit-btn {
  width: 107px;
  height: 16px;
  background-color: transparent;
  border: none;
  border-radius: 90px;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile__edit-btn span {
  color: #212121;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}

.profile__edit-icon {
  color: #212121;
}

.profile__add-btn {
  width: 157px;
  height: 52px;
  background-color: #212121;
  border-radius: 8px;
  margin: auto 0 0 auto;
  padding: 18px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.profile__add-btn span {
  color: #fcf5e5;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}

.profile__add-icon {
  width: 12px;
  height: 12px;
  vertical-align: middle;
}
